[2019-05-03 10:58] david-espinosa opened #1 "java.lang.NullPointerException at com.github.dariobalinzo.task.ElasticSourceTask.fetchLastOffset(ElasticSourceTask.java:215)"
Hi!
I'm having this error when using your connector:

java.lang.NullPointerException at com.github.dariobalinzo.task.ElasticSourceTask.fetchLastOffset(ElasticSourceTask.java:215)

This is the code of the Connector creation request:
{
  "name": "el-source",
  "config": {
    "connector.class": "com.github.dariobalinzo.ElasticSourceConnector",
    "tasks.max": "1",
    "es.host": "host.docker.intern

[2019-06-23 12:12] DarioBalinzo commented on #1
Hey! Sorry for my late response.
I think that here the problem is the special "_id" field used as "incrementing.field.name".
Did you tried using a normal field part of the body of the document?

Dario

[2019-06-25 08:17] vaibhavpatil123 opened #2 "Pulling data on create of source connector after it is not pulling latest data from ES"
Pulling data on create of source connector after it is not pulling latest data from ES

Configured :
{
    "name": "elastic-source-logs",
    "config": {
        "connector.class": "com.github.dariobalinzo.ElasticSourceConnector",
        "topic.prefix": "logs",
        "es.host": "elastic",
        "tasks.max": "1",
        "incrementing.field.name": "timestamp",
        "name": "elastic-source-l

[2019-06-25 09:58] vaibhavpatil123 commented on #2
https://github.com/DarioBalinzo/kafka-connect-elasticsearch-source/blob/master/src/main/java/com/github/dariobalinzo/ElasticSourceConnectorConfig.java

[2019-08-05 15:21] dadoeyad opened #3 "bad request on searching index names"
I'm getting this following errors in taks config. The connection test works before getting to this point.

[2019-08-05 14:59:45,929] ERROR error in searching index names (com.github.dariobalinzo.ElasticSourceConnector)
[2019-08-05 14:59:45,929] ERROR [Worker clientId=connect-1, groupId=data-dev] Failed to reconfigure connector's tasks, retrying after backoff: (org.apache.kafka.connect.runtime.dist

[2019-09-20 08:21] yongyct commented on #3
is the elasticsearch port correct?

[2019-09-20 09:55] dadoeyad commented on #3
Yeah it was correct. I'm not using this anymore and I don't even remember what was it.

[2020-11-01 11:02] DarioBalinzo opened #5 "Elasticsearch api 7.x"
I'm updating the elasticsearch and the kafka connect api to the latest version.

I'm planning to refactor the code and tests to improve code quality and reduce bugs.

[2020-11-12 20:59] albertwgchu commented on #5
Hi, thank you for setting up this project.  I'm wondering if you will add support for ElasticSearch using HTTPS in your upcoming release.  This fork has added a config option called es.scheme which defaults to HTTP but can be overridden to HTTPS.

https://github.com/inspectorioinc/kafka-connect-elasticsearch-source

[2020-11-12 21:54] DarioBalinzo commented on #5
Hi @albertwgchu,thank you for the suggestion.

Yes, I will insert it in the future release after cleaning and refactoring of the code. The project also needs better integration tests using test containers.

After these development I will add the https support.

[2020-11-23 20:17] #5 closed

[2020-11-23 20:19] #1 closed

[2020-11-23 20:22] #3 closed

[2020-11-23 20:22] DarioBalinzo commented on #3
I'm closing the issue since the problem is resolved

[2020-11-23 20:24] DarioBalinzo commented on #2
As you pointed out there are params related to the polling ms. But be sure to use an incrementing field as incrementing.field.name otherwise you will loose some updates

[2020-11-23 20:28] DarioBalinzo opened #9 "Fields whitelist"
Inspired by a fork made by https://github.com/inspectorioinc/kafka-connect-elasticsearch-source, I would like to add the possibility to select only a subset of fields from elastisearch documents when creating a new kafka message.

[2020-11-23 20:32] DarioBalinzo opened #10 "Send complex objects as json string"
Inspired by a fork made by https://github.com/inspectorioinc/kafka-connect-elasticsearch-source.
I would like to add the possibility to avoid to convert a possibly complex nested object as json string intead of an avro sub object.

The default behavior should remain the avro sub-object, the json string casting should be optional.

[2020-12-06 16:46] DarioBalinzo opened #12 "Multi host configuration"
The connector should be use more than one node when connecting to an ES cluster.

[2020-12-06 19:40] #12 closed

[2020-12-10 13:17] konstan opened #16 "NPE in com.github.dariobalinzo.schema.StructConverter.convertListOfObject"
The JSON document in the ES index is rather complex and contains several lists. I can paste it here if you think this can be useful.

[code]

[2020-12-10 17:54] DarioBalinzo commented on #16
Hi @konstan, pasting the json directly here ( if needed with anonymized data, but with the same structure) will help me in fixing the issue.

[2020-12-11 07:30] konstan commented on #16
Hi @DarioBalinzo, Here is the JSON that produces the NPE.

[code]

[2020-12-11 07:34] konstan opened #17 "jar with deps in releases"
Would it be possible to produce jar w/ deps along with the release?

[2020-12-12 08:29] DarioBalinzo commented on #16
Thank you @konstan very much for the sample.
I was able to reproduce the bug and I'm fixing it into the new upcoming version 1.1.

There was a bug in the conversion from elasticsearch document to a kafka connect struct. Also the connector did not support list of object with different json schema (I was assuming all the nested objects having the same fields, but this is not true for example inside

[2020-12-12 08:30] DarioBalinzo commented on #17
Yep, starting from version 1.1 I will try to include the jar in the release.

[2020-12-12 11:33] #2 closed

[2020-12-12 11:34] #9 closed

[2020-12-12 11:34] #10 closed

[2020-12-12 11:35] DarioBalinzo commented on #17
Here there is the link to the new version, where you can find the jar with deps: https://github.com/DarioBalinzo/kafka-connect-elasticsearch-source/releases/tag/v1.1

[2020-12-12 11:38] DarioBalinzo commented on #16
We released v1.1 today after finalizing other features (like whitelists).
Can you confirm that the NPE is fixed?

[2020-12-12 13:03] konstan commented on #17
Great news - thanks. But the difference between .jar and .zip is less than 3MB. Can we have .jar directly available?
It's just an extra friction needing to have unzip in the container and then run extraction. For example here (I'm getting .jar form the fork):

[code]

[2020-12-12 14:19] konstan commented on #16
I confirm v1.1 works with the JSON above. Thank you!

[2020-12-12 14:19] #16 closed

[2020-12-12 14:50] DarioBalinzo commented on #17
Sure, no problem. I've uploaded also the unzipped version.

[2020-12-12 20:46] konstan commented on #17
Fantastic 👍

[2020-12-12 20:46] #17 closed

[2020-12-14 10:54] konstan opened #21 "question: '-' removed from the attributes of the JSON value"
Hi @DarioBalinzo

I see that the ES connect code removes dashes from the attributes: in my case `current-time` turns into `currenttime` etc. Is it intentional? When working with Kafka I can have keys and attributes of JSON values with dashes, as well as in ksqlDB column names with dashes are fine (just need to quote them in KSQL queries).
Why is it that you are removing them in the ES connect?
Tha

[2020-12-14 12:50] DarioBalinzo commented on #21
Hey @konstan,
Yes, it is intentional. I'm converting the names in order to be compatible with the Avro serialization (see here: https://avro.apache.org/docs/1.8.1/spec.html#names).

Is this a blocking problem for you?
Actually, I might enable a config to turn on/off this name conversion if you think this might be useful (the conversion logic is isolated in a single Java class ).

[2020-12-15 21:41] konstan commented on #21
Hi @DarioBalinzo ,

Yes, our code generates loads of attributes with dashes. It would be simpler for the processing downstream if the attributes wouldn't change. If it's possible, a configuration parameter would be highly appreciated.
Thank you!

[2020-12-16 16:40] DarioBalinzo opened #22 "confluent hub packaging spec"
See:  https://docs.confluent.io/current/connect/managing/confluent-hub/component-archive.html
as example:  https://github.com/jaredpetersen/kafka-connect-redis/releases/tag/1.1.0

[2020-12-16 16:46] DarioBalinzo commented on #21
Hi @feed3r, would you like to help me in developing this issue?

Please make `AvroName` class non static, and create a new interface for its public methods (calling the new interface something like `FieldNameConverter`).
Then you can create also a `NopNameConversion` class (that implements `FieldNameConverter`) that is not changing the original name.

Finally in the `ElasticSourceTask` class initi

[2020-12-21 19:57] albertwgchu opened #24 "Issue using https"
Hi,

I wrote earlier about adding https support.  I just tried today with version 1.1 and I'm still getting an error.  I looked at the code against https://github.com/inspectorioinc/kafka-connect-elasticsearch-source/ and I didn't see anything obvious.

However I did notice that if I enter an invalid host I get the same error.

Config:
{
    "connector.class": "com.github.dariobalinzo.ElasticSourc

[2020-12-21 20:31] DarioBalinzo commented on #24
Hi @albertwgchu ,
I will try to reproduce the error locally with an integration test.

I've read about a similar issue here https://www.google.com/url?sa=t&source=web&rct=j&url=https://discuss.elastic.co/t/resolved-400-error-responseexception-when-using-example-request-code-for-java-rest-client/98445&ved=2ahUKEwiSlOzs9N_tAhVZPuwKHa3dBLgQFjAAegQIBxAC&usg=AOvVaw32nxEd1oo2s_PGGK2JXc6i
I will check in

[2020-12-21 20:53] albertwgchu commented on #24
@DarioBalinzo Thanks for responding so quickly.  I'll take a look as well, I'm curious why https://github.com/inspectorioinc/kafka-connect-elasticsearch-source works with my instance of ES and not yours.  I should also mention I am using ES 6.8.

Thanks again.

[2020-12-21 23:10] albertwgchu commented on #24
@DarioBalinzo weird, so if I change this it works:

--- a/src/main/java/com/github/dariobalinzo/elastic/ElasticRepository.java
+++ b/src/main/java/com/github/dariobalinzo/elastic/ElasticRepository.java
@@ -100,7 +100,7 @@ public final class ElasticRepository {
         try {
             resp = elasticConnection.getClient()
                     .getLowLevelClient()
-                    .performReq

[2020-12-22 17:51] DarioBalinzo commented on #24
Hi @albertwgchu , thanks for sharing the details.
What kind of environment are you using? (local cluster, docker or aws?)

I don't understand your change in the ElasticRepository, it seems identical to me. Can you share the diff or maybe submit a simple PR?

I'm planning to look into this in the next days, but having more info and context will help me in solving this issue.
Thanks

[2020-12-22 18:25] albertwgchu commented on #24
Hi @DarioBalinzo,

It's the forward slash before cat.

.performRequest("GET", "_cat/indices"); // this doesn't work
.performRequest("GET", "/_cat/indices"); // this works

I'm using Docker cp all in one for Kafka and Elastic Cloud for Elastic Search.

Thanks.

[2020-12-22 18:36] DarioBalinzo commented on #24
Ok, so it seems similar to this issue https://github.com/elastic/elasticsearch/issues/28923
(If you look to the last answer)

I will put the fix using the correct prefix in version 1.2.

[2020-12-23 20:40] #24 closed

[2020-12-23 20:53] DarioBalinzo commented on #21
Hi @konstan,
we just released version 1.2 with the new config.

You can find the description of the new param in the readme (`fieldname_converter`).

[2020-12-26 09:48] #21 closed

[2020-12-26 14:08] #22 closed

[2021-01-04 08:36] konstan commented on #21
@DarioBalinzo I validated the feature and it works correctly in my case. Thanks a lot!

[2021-01-06 21:58] albertwgchu opened #27 "Batch size question"
Hi @DarioBalinzo,

I am wondering if pagination of results is supported when the number of results > batch size.  I seem to be seeing the following:

- batch size of 10 000 (default)
- 10 001 records with the same timestamp
- 10 000 records are read into the topic

[2021-01-07 12:39] DarioBalinzo commented on #27
Hi @albertwgchu,
the incrementing `incrementing.field.name` should be a strictly increasing field (no duplicates), to avoid the described issue.
So, in the described situation you may loose some records.

Maybe in a new version I can add a secondary field for pagination, to avoid this issue. The _id field would be great, but it is not possible to sort it. However I can add a custom secondary sort

[2021-01-07 23:51] albertwgchu commented on #27
Hi,

I didn't realize the incrementing.field.name should be unique, thanks for mentioning that.

I am using it with a a timestamp but multiple records could have the same time stamp if they are processed at the same time.

I am wondering if pagination could use the incrementing.field.name instead of adding a secondary sort field?

[2021-01-09 12:50] DarioBalinzo commented on #27
Cool, I will add configurable secondary sort field in the next version.

[2021-01-22 21:37] albertwgchu opened #28 "Accessing _index, _id fields?"
Hi @DarioBalinzo,

I was wondering if there's a way to access the ElasticSearch _id field?  e.g.

{
"_index": "xxx",
"_id": 1,
"_source": {
...
}

[2021-01-23 20:00] DarioBalinzo commented on #28
Hi,
right now both `_id` and `_index` are discarded, since only the source part is sent to kafka.

But we will add also the these fields in the next version of the connector.

[2021-02-02 21:18] DarioBalinzo commented on #28
Hi @albertwgchu, starting from version 1.4 you can find the fileds `es-id` and `es-index` fields in the messages produced by the connector.

[2021-02-02 21:24] DarioBalinzo commented on #27
Hi @albertwgchu, I've published a pre-release (1.4) with the secondary sort feature.

You can use the `incrementing.secondary.field.name` settings to specify the secondary sort field. Note that text fields cannot be sorted, so if you need to sort string fields you will need to use keyword fields.

If everything is fine also for your side, I will mark version 1.4 as stable.

[2021-02-03 00:24] albertwgchu commented on #27
I will take a look in the next few days.

[2021-02-04 18:25] albertwgchu commented on #28
I just tried it and it worked.  The fields are actually esid and esindex, but that is fine.  Thanks again

[2021-02-04 20:04] DarioBalinzo commented on #28
Cool,
yes the config `fieldname_converter` by default is `avro`, but you can set it to `nop` to avoid fields renaming. Some character must be removed (like `-`) to be correctly serialized as avro field name.

[2021-02-05 15:04] konstan opened #32 "avoid wide matching of indexes with index.prefix"
Hello @DarioBalinzo ,

I have two indexes in ES `nuvla-nuvlabox` and `nuvla-nuvlabox-status` and with the configuration below, I noticed, I'm getting messages twice in `es_nuvla-nuvlabox-status`. I added `"elastic-source-nuvlabox"` much later due to new requirements.

[code]
I understand this can be fixed by removing `elastic-source-nuvlabox-status` connector. However, what will happen if I add e.

[2021-02-06 16:32] DarioBalinzo commented on #32
Hi @konstan,
yes I like the idea of an optional comma-separated `index.names`. I will try to release it in the next few weeks.

However, you can also deploy only one instance of the connector, handling many tasks (configured by the `tasks.max`): for instance in you case you can have a single instance of the connector with two parallel task, each task working on an index ( in your case you just nee

[2021-02-06 16:33] #27 closed

[2021-02-06 16:33] #28 closed

[2021-02-07 11:12] konstan commented on #32
Thanks. Having `index.names` would be awesome.

I'm going to do the following now with

[code]
on ES having two indexes `nuvla-nuvlabox` and `nuvla-nuvlabox-status`, and hoping I will get `es_nuvla-nuvlabox` and `es_nuvla-nuvlabox-status` topics. I'll update you shortly.

However, when I add `nuvla-nuvlabox-foo`, I don't want it to appear in Kafka.

Is `"tasks.max": "N"` is the number of Kafka pro

[2021-02-07 11:55] konstan commented on #32
Just confirmed that `"tasks.max"` doesn't influence the number of selected indexes, and with the below single config

[code]

I'm getting all `"index.prefix"` matched ones in Kafka. This will do for me for now. But having `index.names` for a more granular selection of the ES indexes would be better.
Thanks!

[2021-02-07 21:56] DarioBalinzo commented on #32
Yes, "`tasks.max`" doesn't influence the number of selected indexes, it controls the number of concurrent activities that the connector will run (e.g. if the prefix matches 10 indices, 2 concurrent tasks will fetch the data, each one from 5 indices). Thanks for signaling that the description is missing the in the docs, I will add shortly.

The main goal of `tasks.max` and `index.prefix` is to avoi

[2021-02-10 16:07] konstan opened #33 "partition/replica configuration"
Is it possible to add configuration parameters to set partition/replica value for the topics created by the connector?
At the moment the connector creates 1/1.

I have ksqldb streams reading from the topics. They expect partition/replica configurations other than 1/1.

[2021-02-10 22:20] DarioBalinzo commented on #33
Hi, I think that this config is out of scope for the elastic connector since it is already covered in the connect config (the framework running several connectors, like the elastic source connector).

Here you can find the the relevant documentation: https://docs.confluent.io/home/connect/userguide.html#source-connector-properties

But I think that the number  of replica and partitions of new topi

[2021-02-25 08:59] sinbadonline opened #34 "java.lang.NoSuchFieldError: INSTANCE"
When activate this connector with below configuration:
{
  "name": "global-es-source",
   "config": {
             "connector.class":"com.github.dariobalinzo.ElasticSourceConnector",
             "tasks.max": "1",
             "es.host" : "10.0.129.171;10.0.128.237;10.0.128.64",
             "es.port" : "9200",
             "es.user" : "xxxx",
             "es.password" : "xxxx",
             "es.

[2021-02-25 17:11] albertwgchu opened #35 "null values"
Hi,

I'm wondering if there's a way to support null values?  We have some documents like this:
{"a": "value", "b":"value"}, {"a":null, "b":"value2"}.  For now I can modify the source to generate  {"b":"value2"}, but I was wondering if there's a different way.

Exception thrown:

[2021-02-24 22:46:40,733] ERROR error (com.github.dariobalinzo.task.ElasticSourceTask)
java.lang.RuntimeException: type

[2021-02-25 22:22] DarioBalinzo commented on #34
Hi @sinbadonline,
which version of java and kafka connect are you using?

[2021-02-25 22:27] DarioBalinzo commented on #35
Yes, we can add this feature.

So if a field is present into an elastic document, but it is null, what would you like to be the behavior?
The field should be sent with the null value to kafka or it should be discarded?

[2021-02-26 03:40] albertwgchu commented on #35
I think either case would work, I think I would favor sending the null to Kafka though.  Thanks.

[2021-02-28 22:01] konstan opened #38 "int32 vs long, and filters.blacklist"
Hello @DarioBalinzo,

After some time, the connector stops working for me with the following error.

[code]

The `bytes-transmitted` value is always growing. And eventually, the connector chocks (`2313987073` below) as java int32 max value is 2,147,483,647.

[code]

I think the conversion should treat all int values as longs. Or alternatively, provide a way to define this through a schema?

At the

[2021-02-28 22:34] konstan commented on #38
Just to let you know that this workaround worked for me: `"filters.json_cast": "resources.net-stats"`

[2021-02-28 22:35] konstan commented on #38
... but I want to start using `net-stats` in the very near future.

[2021-03-01 20:19] DarioBalinzo commented on #38
Sure,
to avoid the integer overflow I can always treat integer as long.

I will try to publish the next release in few days, including this fix among the blacklist filter.

[2021-03-01 20:21] DarioBalinzo commented on #38
A configuration to choose the integer precision might be probably too difficult to understand and use for many users, and I would like that the connector "just" works without particular configuration.

[2021-03-01 20:53] DarioBalinzo opened #39 "Testcontainers cannot pull docker images on github actions"
Testcontainers cannot pull docker images anymore when running inside github actions, this might be related to the dockerhub rate limiter.

It is still possible to run the tests locally, but the CI pipeline will be broken.

[2021-03-06 22:53] DarioBalinzo commented on #35
The connector schema api doesn't allow me to send null values, so I will discard it.

[2021-03-07 15:49] albertwgchu commented on #34
I think I have encountered this as well when using a data set that doesn't have incrementing field name in the entire data set.  In my case it was legacy records that didn't have the incrementing field name.

To get around this I back filled a value.  However I am wondering with the secondary sort that was added maybe this isn't necessary?

[2021-03-07 18:07] DarioBalinzo commented on #38
I've published a new 1.4 pre relase version, related to the open issues. The 1.4.1 branch contains the updated documentation.
The master branch still refer to version 1.3, the version published on the official confluent hub. After some time I will check with the confluent team how to update also their version in the hub to the final 1.4 version.

[2021-03-07 18:08] DarioBalinzo commented on #35
I've published a new 1.4 pre relase version, related to the open issues. The 1.4.1 branch contains the updated documentation.
The master branch still refer to version 1.3, the version published on the official confluent hub. After some time I will check with the confluent team how to update also their version in the hub to the final 1.4 version.

[2021-03-25 07:18] SK-ultra opened #42 "Same error as issue 3"
ERROR error in searching index names (com.github.dariobalinzo.ElasticSourceConnector) (DistributedHerder-connect-1-1)
Error [Worker clientID=connect-1, groupID=connect-cluster] fialed to reconfigure connector's tasks

[2021-03-25 16:53] DarioBalinzo commented on #42
Can you share the configuration?

[2021-04-26 10:32] Siddmahi opened #43 "Schema Exception- When a complex property (type as 'nested') is included in a ES document"
**ES document mapping:**
PUT /test-websitesources
{
  "mappings": {
    "source": {
      "properties": {
        "sourceId": {
          "type": "text",
          "fields": {
            "keyword": {
              "type": "keyword",
              "ignore_above": 256
            }
          }
        },
        "weblinks": {
         "type":"nested",
         "properties" : {
              "id" :

[2021-04-27 06:49] DarioBalinzo commented on #43
Hi @Siddmahi, thank you for the detailed description.

I will try to reproduce it and fix it in few days.

[2021-05-12 08:49] sunilmchaudhari opened #44 "NumberFormatException for es.host while starting Elasticsearch source connector"
Hi
I am getting below error when I start connector.
Please help on this. Its running but Cant see any desired topic in kafka.

[2021-05-12 16:30:42,611] INFO ElasticSourceConnectorConfig values:
	batch.max.rows = 10000
	connection.attempts = 3
	connection.backoff.ms = 10000
	es.host = "myhost.uat.com"
	es.password = "myEspass"
	es.port = "9200"
	es.scheme = http
	es.user = "elastic"
	fieldname_con

[2021-05-12 11:01] DarioBalinzo commented on #44
Hi,
please try configuring the port as integer and not as string:
changing
`es.port = "9200"`
to
`es.port = 9200`

[2021-05-12 11:47] sunilmchaudhari commented on #44
After changing it to an integre, it gives me below error.
Elasticsearch instance is running well on given host and port and I can connect using CURL.

Is there any problem of HTTPS/HTTP?
My Elasticsearch is runnong over HTTPS.  I am using HTTP scheme in connector config because I didnt find any SSL config options in documentation.

[2021-05-12 19:30:46,241] ERROR error in searching index names (co

[2021-05-12 11:58] DarioBalinzo commented on #44
If you need to use https you can set this:
`es.scheme = https`

I will document better in the connector documentation

[2021-05-12 12:07] sunilmchaudhari commented on #44
Hi,
If I use https,  same error it shows.
Can I debug this with any option?

Regards,
Sunil
On Wed, 12 May 2021 at 5:28 PM, Dario Balinzo ***@***.***>
wrote:

[2021-05-12 13:39] DarioBalinzo commented on #44
Looking at the description: `UnknownHostException: "myhost.uat.com": Name or service not known` maybe the error is related to dns name resolution?
Can you connect using curl on the same machine where the connector is deployed?

[2021-05-12 13:56] sunilmchaudhari commented on #44
Yes,
As I mentioned before, i can connect using curl from the remote machine
where connect is running.
What are the settings if I want to provide trust store, password and the
TLs protocol?

On Wed, 12 May 2021 at 7:09 PM, Dario Balinzo ***@***.***>
wrote:

[2021-05-13 07:47] Siddmahi commented on #43
Hi @DarioBalinzo, Did you find time to reproduce the issue?

[2021-05-13 08:33] sunilmchaudhari commented on #44
Hi @DarioBalinzo
I found the problem of UnknonHostExcpetion.
Actually I am using configuration with key value pair separated with '='
It doesnt accept hostname in double quote.  So removing double quote it makes http connection with Elasticsearch.
However, since elasticsearch running on HTTPS, connection get closed and it prints in the log that connetion is closed.
I can see in Elasticsearch logs

[2021-05-13 10:56] DarioBalinzo commented on #43
Hi @Siddmahi, not yet, but I'm planning to look into it during the next week.

[2021-05-17 06:13] Siddmahi commented on #43
Hi @DarioBalinzo, If I may suggest an approach, Can we have multiple indexes point to the same topic? Currently, we are using aliases(index) so multiple index versions(index_v1, index_v2, etc) are created with each topic. So is it possible to have multiple indexes versions to the same single topic?
Thanks in advance :)

[2021-05-18 04:49] sunilmchaudhari commented on #44
Hi @DarioBalinzo ,
any setting to provide certification paths?

[2021-05-19 12:44] pirwlan opened #45 "Configure elastic search queries"
Dear @DarioBalinzo,

I was having a look at your repo and find it really useful, thank you!
Playing around with it, I could not find any way to configure specific search query to limit the retrieved documents. Am I overlooking something, or is this not possible at the moment?

[2021-05-19 18:16] DarioBalinzo commented on #43
Hi @Siddmahi ,
sorry for my late response, this is a very busy period for me!

The problem is not related to multiple indices or aliasing.

However the problem here might be in the avro serialization: in avro a field has only one possibile type (scalar or array, not both like weblinks in your example).

Can you try to configure the connect to use json serialization to see if you can fix the issue

[2021-05-19 18:21] DarioBalinzo commented on #44
Hi @sunilmchaudhari ,
for the truststore I think you should look at the general kafka connect config, since they are not related to a single connector. Maybe you can find some info here or in the Kafka/Confluent documentation:
https://docs.confluent.io/platform/current/kafka/authentication_ssl.html#kconnect-long

[2021-05-19 18:28] DarioBalinzo commented on #45
Hi @pirwlan, I'm happy to hear that!

You can limit the maximum number of document retrieved by the connector using the `batch.max.rows` settings as described in the documentation.

This setting control the amount of data that is fetched from elastic in a single request.

[2021-05-22 05:54] sunilmchaudhari commented on #44
Hi @DarioBalinzo ,
I think I have to ask my question precisely.
I am not talking about the SSL error while connecting to broker.
I am getting SSL error while connecting to Elasticsearch when the source connector makes connection to Elasticsearch, which is running over HTTPS.
So I am taking about ""es.scheme.  If I use es.scheme-https  then there is no provision to use truststore.

[2021-05-29 11:51] DarioBalinzo commented on #44
It is possible to customize the settings related to https using the elasticsearch client.
I think that you need something similar to this: (e.g. the path of a custom truststore)
https://www.elastic.co/guide/en/elasticsearch/client/java-rest/current/_encrypted_communication.html

I will try to add this configuration to the connector in few days.

[2021-06-02 12:49] shanthkumar079 opened #46 "Is there any configuration properties in source connector to notify the delete of es_document. in Kafka topic."
We are able to insert data to sink(Postgres) using the Kafka-connect elasticsearch-source from a data source(elastic search).
I have a use case to delete a document from elastic search and the same should be reflected in the data sink(Postgres).

[2021-06-03 19:01] DarioBalinzo commented on #46
Hi @shanthkumar079,
No, it is not possible to detect deletion in elasticsearch using this connector.

However, I suggest to add a new boolean field (e.g. deleted=true/false) to logically delete records in elastic and use that field in postgres to discard logically deleted data. In addition to this you may delete from postgres old data based on retention based.

Hope this helps,
Dario

[2021-06-04 05:22] shanthkumar079 commented on #46
Hi @DarioBalinzo,
Thanks for your response:-)
I was trying to update a document(value for some fields) by the document Id, seems like this connector doesn't support the update as well.
Please correct me, if my understanding is wrong.

Thanks
Shantkumar.s

[2021-06-08 19:37] DarioBalinzo commented on #46
The connector  supports updates if you use an incremental timestamp field (e.g. last update time).

[2021-06-18 09:34] nmousouros commented on #44
Hi @DarioBalinzo,

Any progress on that? We have the option indeed, to set those with the sink connector. ( https://github.com/ibm-messaging/kafka-connect-elastic-sink)

[2021-06-19 18:44] DarioBalinzo commented on #44
Hi @nmousouros,
I was waiting for a confirmation about the feature request.
Thanks for sharing the other connector link, it will help me during the development.

I think that now I can start the development.

[2021-06-21 21:59] karayel opened #47 "No mapping found for [] in order to sort on"
Hı,

When I tried to run the following config, I am getting exception over and over again

[code]
Here is the exception stack trace
[code]
I also send the request with manually and there is no problem with related to it because I am getting response succesfully.
After that point, I checked the connector status and it is in RUNNING state but I think, it has to be in FAILED status.

Do you have any

[2021-06-22 06:40] DarioBalinzo commented on #47
Thanks for the issue, in this case I will make sure that the connector changes state to FAILED.

However, the cause of the problem is that `incrementing.field.name` config is missing and it is mandatory.
The connector sorts the data according to this field in order to fetch new data.

Dario

[2021-07-01 11:17] nmousouros opened #49 "Found last value Cursor{primaryCursor='null', secondaryCursor='null'} java.lang.NullPointerException"
We managed to connect to the elasticsearch but we are getting a nullpointerexception, what could be causing that? Below is our kafka (strimzi) configuration and the error message

` class: com.github.dariobalinzo.ElasticSourceConnector
  config:
    poll.interval.ms: 1000
    es.port: >-
      ${file:/opt/kafka/external-configuration/elasticsearch-creds/elasticsearch-creds:port}
    es.scheme: htt

[2021-07-01 19:17] DarioBalinzo commented on #49
I've seen the code and the `incrementing.field.name` is not compatible yet with nested documents. At this time it works only with the root level fields.

I hope you can find a workaround or a new incrementing field, in the meantime I'm planning to add the compatibility for nested fields also for cursors when finalizing the ssl config branch.

[2021-07-01 19:18] #32 closed

[2021-07-01 19:19] #33 closed

[2021-07-01 19:20] #38 closed

[2021-07-01 19:21] #43 closed

[2021-07-04 18:26] #47 closed

[2021-07-04 18:27] #44 closed

[2021-07-05 00:57] sunilmchaudhari commented on #44
This is great!
Thanks so much Dario.

On Sun, 4 Jul 2021 at 11:57 PM, Dario Balinzo ***@***.***>
wrote:

[2021-07-06 16:13] RuMcClu opened #50 "partition elasticsearch records by values"
Hi there,

I'm currently using this repo (thanks very much by the way) and I'm hoping to take my JSON documents and use a certain key to either partition them or send them to different topics. One approach is to write a custom JSON deserialiser that reads from the elasticsearch source topic, but I was wondering if you could select a key with a certain value with ES source and only pull those docum

[2021-07-06 18:54] DarioBalinzo commented on #50
Hi, thanks for your feedback!

You can have a look on these feature that are working out of the box with every kafka connector:
https://docs.confluent.io/platform/current/connect/transforms/overview.html
You can find information about adding new fields, transforming the messages etc..

And probably you may find useful this particular transform that ovverrides the kafka topic looking at the values

[2021-07-16 14:39] RuMcClu commented on #50
Thanks very much! I used this and it worked very well.

[2021-07-16 14:39] #50 closed

[2021-07-16 14:43] RuMcClu opened #51 "Data Exception"
I've been using this repo (thanks again btw) and it worked very well until today when suddenly the console is flooded with this error:

[2021-07-16 14:33:03,515] ERROR error (com.github.dariobalinzo.task.ElasticSourceTask:180)
org.apache.kafka.connect.errors.DataException: Invalid Java object for schema type STRUCT: class java.lang.String for field: "old"
	at org.apache.kafka.connect.data.ConnectS

[2021-07-18 12:23] DarioBalinzo commented on #51
Hi,
I'm happy to hear that!

Regarding your problem, can you check if the `old` field in elasticsearch is either a string or array/complex type?

You can fix this using the whitelist config, or the json cast config (fields are not parsed to fixed types, but they are encoded as json strings)

[2021-08-23 13:26] PeterAmisy opened #52 "insert mutli index on the same topic"
Hi,
First of all thank you for your amazing job.
I have a question. right now i'm tryin to insert mutli index from ES to one topic on Kafka.
I wonder if it's possible to do that. Because right now, as long as i'm using one parameters on "index.prefix" everything work perfectly. As soon as I'm tryin to put an extra index like  => index.prefix= my_awesome_index, my_beauty_index (using yaml)
Nothing

[2021-08-23 19:31] DarioBalinzo commented on #52
Hi,
you can't have multiple index.prefix, but you have two solutions:
in your example you can use my_ as index prefix, or alternatively you might create two instances of the connetor (each one using a single index.prefix).

Then, the output topic is based on the name of the input index. But if you need to put the output in a single topic, you might use the confluent connect transformer https://doc

[2021-08-31 20:52] klinux opened #53 "Detect new indexes and other issues"
Hi,

First, thank you for this amazing connect plugin.

I have a lot of indexes, named by day, like **idx-2021.08.30**, the first problem that I disovered here in my environment, it's look like the elasticsearch connect freezes in some index, and the connect enter in type of loop:

[code]
And this line repeat eternally.

Other problem is with new indexes, new indexes are created every day, but onl

[2021-09-03 15:13] RuMcClu commented on #51
Thanks for your reply. The "old" field was a complex blob as you said. Currently I'm using the whitelist to fix this but since the schema in ES is arbitrary it's a little frustrating. Can I suggest the addition of a blacklist option as well?

[2021-09-03 15:13] #51 closed

[2021-09-04 12:07] DarioBalinzo commented on #51
You can already find the blacklist option using one of the latest versions: e.g release1.4.2, here the documentation https://github.com/DarioBalinzo/kafka-connect-elasticsearch-source/tree/1.4.2

[2021-09-04 12:14] DarioBalinzo commented on #53
Regarding the first problem, the use of the timestamp with many duplicates may produce these issue, since the incrementing field should be strictly incremental. However to fix this you can use the `incrementing.secondary.field.name` config, here you can find the documentation: https://github.com/DarioBalinzo/kafka-connect-elasticsearch-source/tree/1.4.2

For the new indexes discovering, this is an

[2021-09-07 11:48] tee2015 opened #54 "No errors but data not pulled out from Elastic"
Hi and thank you for this connector,

I have 3 elastic indexes that have the same prefix test_1 , test_2 , test_3.
One index is not happy to be sent to kafka (log_test3)  while the other two are ok (the schema is different).
No errors on the connector logs. Not clear what is the issue, the same configuration used before on elastic version 6 was working fine.
Also is there a way to prioritise some

[2021-09-07 16:39] albertwgchu opened #55 "Resetting the incrementing field?"
Hi, I'm wondering if there's a good way to reset the incrementing field?  For example I want to run the connector on all the data since the beginning of time again.

[2021-09-07 19:21] DarioBalinzo commented on #55
Hi, the offset of the incrementing field is stored in the `connect-offset` topic, as any standard connector. You can find here more information: https://rmoff.net/2019/08/15/reset-kafka-connect-source-connector-offsets/

[2021-09-10 10:07] tee2015 commented on #54
Hi, I simplified the problem to just pull one index (test1) from es to kafka  ,
however still not able to do that , I used another index  (test5) to test if the connector is working from the same elastic with a different schema and I am successfully able to sink the data from es (test5) to kafka via the connector.
I also cat the _doc from (test1) index into kafka via "kafkacat -P -l test1.json " a

[2021-09-11 00:49] tee2015 commented on #54
I am using this connector version 1.3 installed via
confluent-hub install dariobalinzo/kafka-connect-elasticsearch-source:1.3
which is not the latest release I am wondering if I use a higher version this will resolve my issue, also why confluent dosent support a higher version than 1.3.
because setup the connector is a very tedious process and via the confluent hub it make it so simple.

[2021-09-12 08:42] tee2015 commented on #54
I test it with 1.4.2 at the creation of the connector it is pulling the data finally , however it is stopping after that and the topic not receiving the latest records,
I downgrade to 1.4.1 and same issue.

[2021-09-12 17:46] DarioBalinzo commented on #54
Hi @tee2015,
sorry for my late response.

Were present any error log in your experiments?

There are no limitations in the number of topics assigned to the connector, but at the same time you can have multiple instance of the connector working on different data.

One important config to check is the incrementing field, I've seen that you are using a timestamp field. Consider that the incrementing

[2021-09-13 00:20] tee2015 commented on #54
Hi @DarioBalinzo,

Appreciated your response, I will focus then on the incrementing values set and add a secondary one, I managed to add the 1.4.2 into a container setup I will post it here:

**Docker file:**
[code]
**Build ur image:**
docker build . -t my-custom-image:1.0.0

**Docker-compose:** (check for all other docker compose details on kafka connect demo zero to hero)
kafka-connect:
    imag

[2021-09-13 14:40] tee2015 commented on #54
Hi @DarioBalinzo,
There are no errors on the docker stdout , however I can see now that the connector is just recognising that I have one message in the index while I have more than 1, is there another place to look for an error log?

This is what I mean that it is just recognising one message:

I added secondary.incrementing.field.name:"id"

however this didn't solve my issue :(

[2021-09-14 06:55] DarioBalinzo commented on #54
Hi @tee2015 ,
does your dataset contains sensitive information? If not you can share to me a subsets of documents of that index and I will try to investigate.

If that is not possible, can I ask you to run some aggregations on the data that are you using?

[2021-09-14 08:03] tee2015 commented on #54
yes as u said it is definitely @DarioBalinzo  the timestamp :) now it is working as expected searching for another field to add it for the second incrementing , can y please just confirm for me that in the config this is what the field name should be ?
secondary.incrementing.field.name:"id"

[2021-09-14 16:09] #55 closed

[2021-09-14 16:09] albertwgchu commented on #55
Thanks for the link!

[2021-09-25 00:08] ilosamart commented on #53
Hello!!! Thanks for this great work!

I'm currently in need for this feature `indexes discovering` and have implemented it. Since I'm not a Java developer, I would pretty much appreciate if you guys could review my proposed PR.

[2021-09-25 11:54] DarioBalinzo commented on #53
Hi @ilosamart,
thank for your contribution! I will be happy to review it soon.
First of all I will update the master branch with the latest release and then I will check it in the next days.

[2021-09-26 05:29] phoenixml opened #58 "Does this connector support elastic OpenDistro"
Hi Dario,

I tried the plugin with opendistro Elastic version, and I added username and password to my connector conf however I am getting this result once I registered the connector:

[code]

**Registration conf:**
curl -X PUT http://192.168.1.100:8083/connectors/es-source/config -H "Content-Type: application/json" -d '{
"connector.class": "com.github.dariobalinzo.ElasticSourceConnector",
"tasks.

[2021-09-28 09:20] tee2015 commented on #54
incrementing.secondary.field.name found it closing this issue.

[2021-09-28 09:20] #54 closed

[2021-09-28 20:16] #53 closed

[2021-09-28 20:33] DarioBalinzo commented on #58
The connector is compatible to any version of elasticsearch that uses basic authentication, so also open distro should work.
Can you share the full stack trace if possible?

[2021-09-29 12:43] milnomada opened #60 "Errors using kafka-connect-elasticsearch-source:1.4.2"
Hello,

I'm using the elasticsearch-source:1.3 with success.
I install it with the confluent-hub client by:
[code]

I need to use, the `filters.blacklist` which as far as I know are available in `1.4.2` branch of this repository.

I tried to install it
[code]
No success.

Then, cloned the repository, moved to `1.4.2` branch and run the `mvn` build  command: `mvn clean package -DskipTests`
Build wa

[2021-09-30 14:37] ilosamart opened #61 "Problem using Connector on Cloudera Kafka Connect"
Hello!

Cloudera Kafka Connect ships with `log4j:2.10`, but the `elasticsearch.client` which is dependency for this project uses `log4j:2.9`. When we try to use this connector an error like this raises:

[code]

It seems a bug in `log4j`, ref.: https://issues.apache.org/jira/browse/LOG4J2-2055 . I've explicitly added `jog4j` dependencies with version 2.10, like this:

[code]

Tests have passed, bu

[2021-10-03 21:00] DarioBalinzo commented on #61
Cloudera Kafka right now is not tested/supported by the connector.
However, you might look at this guide:
https://www.elastic.co/guide/en/elasticsearch/client/java-rest/current/java-rest-low-usage-shading.html

[2021-10-03 21:06] DarioBalinzo commented on #60
Hi,
you can download the jar directly here:
https://github.com/DarioBalinzo/kafka-connect-elasticsearch-source/releases/tag/v1.4.2

version 1.4.2 is not yet published on the confluent hub.

In this issue you can also find an example of a dockerfile running v1.4.2:

https://github.com/DarioBalinzo/kafka-connect-elasticsearch-source/issues/54

[2021-10-04 12:54] milnomada commented on #60
Hi Dario,

I'm using the approach to install the `jar.zip` version with the `confluent-hub install` command,
I updated the base image from `confluentinc/cp-kafka-connect-base:6.1.1` to `confluentinc/cp-kafka-connect-base:6.0.1` as well.

Now it works great. I do not see the previous serialization errors, so even no need to use the `filters`.

Thanks for the quick and effective reply!

[2021-10-04 17:39] ilosamart commented on #61
Thanks for your help!

[2021-10-04 17:39] #61 closed

[2021-10-07 13:37] #60 closed

[2021-10-20 17:17] gauravmangalick opened #62 "connector failing to process empty array, throws error"
Fails to process below json messages, fails to process statusHistoryRanking:
{
"statusHistory": [
    {
      "date": 2021-10-19,
      "status": "IN PASS"
    }
  ],
"statusHistoryRanking": []
}

Error Message:
ERROR (com.github.dariobalinzo.task.ElasticSourceTask:202) error
java.lang.RuntimeException: error in converting list: type not supported
	at com.github.dariobalinzo.schema.SchemaConverter

[2021-10-22 08:48] NaveenChandel opened #63 "Rest client version conflicts when used with confluent elastic search sink connector"
When using it with elastic search sink connector - https://github.com/confluentinc/kafka-connect-elasticsearch

Facing error:
[code]

I think this is due to version mismatch b/w both connectors dependency - as the RestClient have been changed in both versions.
[code]
and
[code]

Can we update this dependency?

[2021-10-26 21:10] RuMcClu opened #64 "Nested fields"
Hi there.

Been using this plugin for a while, it's great! Thanks!

Having a problem with nested fields that are constructed from arbitrary  (different every time) JSON in elasticsearch, what I really want is to load in this json as a string using the json_cast feature, which isn't working for me. The blacklist and whitelist filters both work well and use the exact same syntax to specify fields so

[2021-10-30 07:26] DarioBalinzo commented on #64
Hi @RuMcClu, can you share the config part related to json path that are you using?

Feel free also to rename the fields, but I just want to check the shape of that config.

[2021-10-30 07:26] #39 closed

[2021-11-01 17:26] albertwgchu opened #65 "Missing records?"
Hi,

I've noticed sometimes records can be missed by the connector.  I think it has to do with batched writes and the frequency of polling based on my experiments.

I'm using the Kafka message offset as the incrementing field.

I've adjusted the polling interval from the default 5 seconds to 30 minutes in some cases.  So far this has helped quite a bit.

Just wondering if anyone else has come acro

[2021-11-07 11:41] DarioBalinzo commented on #65
Hi, this might be related also to the refresh time interval in elasticsearch. When you are indexing data into elastic, using other tools, then not all the data is always put in elastic at the same time, and there is not the concept of transaction on elastic. So every "refresh time interval" some data is available to the search.

As you suggested, you can tune the polling interval and trying also t

[2021-11-08 13:59] NaveenChandel commented on #63
@DarioBalinzo Any thoughts on this?

[2021-11-08 21:48] DarioBalinzo commented on #63
I will try to update the dependency as suggested soon. I tried in the past to switch to version 7.x but i had a classpath problem in past running the connector.

However I will retry it with your suggested version

[2021-11-08 22:34] albertwgchu commented on #63
Note I am using Confluent Elasticsearch sink 5.5.3 (the most recent version when I started my project) and things work fine.

[2021-11-09 15:33] NaveenChandel commented on #63
@albertwgchu Didn't try with that version. I was trying the latest version 11.1.0. I guess they state in the docs,

"As of version 11.0.0, the connector uses the Elasticsearch High Level REST Client (version 7.0.1), which means only Elasticsearch 7.x is supported"

As I'm working with elastic search 7.6.1 had just gone ahead with the latest.

[2021-11-12 08:49] kranthicdac commented on #45
Can we pass the query as a parameter in the connector to filter the data from the Elasticsearch index?

[2021-11-13 07:20] phoenixml commented on #58
That's true @DarioBalinzo  thank you, I moved the connector to another machine and it worked well not sure what was the main reason to trigger this error. Closed

[2021-11-13 07:20] #58 closed

[2021-11-14 13:40] DarioBalinzo commented on #45
Yes, I will implement it in the next version of the connector among the other requests. I will probably ship the new version at the beginning of the 2022. If you need this feature to be prioritized please consider a small donation to the project.

[2021-11-26 19:51] #65 closed

[2021-12-17 09:38] #63 closed

[2022-01-26 04:54] klinux opened #67 "Source is fine, but Sink is very slow"
Hello,

I have successfully used this plugin to get records from Elasticsearch, and I trying to sink the topics inside s3, and, it's very very slowly, I have debezium CDC and sink from these topics is extremely fast.

There someone had this experiment it too? Any ideas?

Thank you

[2022-01-27 07:12] armaankohli91 commented on #49
Hi

Any update on this?

On all versions above 1.4, I am facing this issue even when my `incrementing.field.name` is not a nested field. Following is the connector configuration:
[code]

[2022-01-28 13:20] #67 closed

[2022-02-10 08:40] DarioBalinzo commented on #62
Hi @gauravmangalick, sorry for the delay, I will work on it in few days and I will update here in the issue.

[2022-02-10 08:43] DarioBalinzo commented on #49
Hi @armaankohli91 , sorry for the delay, I will work on it in the next days and I will update here in the issue.
Can you provide a sample document json, especially of the incrementing field that is failing?

Is that an array? array also are not supported

Thanks,
Dario

[2022-02-14 22:00] DarioBalinzo commented on #62
I'm not able to reproduce the error, the connector seems to skip the empty array: https://github.com/DarioBalinzo/kafka-connect-elasticsearch-source/commit/ae64214ff095ca1cced043ff5efa014744e78639

[2022-02-17 10:29] armaankohli91 commented on #49
Hi Dario

Thanks for the response.

No it is not an array. Its a plain number that just increments with each document. I pasted the sample document for your reference in original post. Let me have it here again:
`
{
             "connector.class":"com.github.dariobalinzo.ElasticSourceConnector",
             "tasks.max": "1",
             "es.scheme": "http",
             "es.host" : "somehost",

[2022-03-24 10:06] cabexius opened #68 "Entity content too long: com.github.dariobalinzo.task.ElasticSourceTask:202"
How to set a configuration....

to avoid this error, noted the fact the has defaulted this to 100mb (https://github.com/elastic/elasticsearch/blob/master/client/rest/src/main/java/org/elasticsearch/client/HttpAsyncResponseConsumerFactory.java)

(com.github.dariobalinzo.task.ElasticSourceTask:202)
org.apache.http.ContentTooLongException: entity content is too long [167942814] for the configured buf

[2022-03-24 10:12] cabexius commented on #68
"batch.max.rows": works as coded, if one receives error above, just make sure to keep lowering your batch.max.rows until it works.
;) start with "batch.max.rows": 1, the work yourself up. thanks great work!!!

[2022-03-24 10:12] #68 closed

[2022-03-24 10:18] gitshrl opened #69 "missing build flavor oss"
We are getting an error missing build flavor oss when trying to connect to ES 7.2, but no issue in ES 7.2 build_falvor default.

[2022-03-24 16:49:06,640] ERROR error (com.github.dariobalinzo.task.ElasticSourceTask:217)
ElasticsearchException[Invalid or missing build flavor [oss]]
        at org.elasticsearch.client.RestHighLevelClient.performClientRequest(RestHighLevelClient.java:2701)
        at

[2022-03-25 17:39] gitshrl commented on #69
Solved by downgrading elasticsearch-rest-high-level-client & elasticsearch-rest-client version to 7.2

https://github.com/gitshrl/kafka-connect-elasticsearch-source

[2022-05-10 04:55] dahal4 opened #70 "No mapping found for [timestamp] in order to sort on"
Hi there ,I am facing with no mapping found error while using this connector.
I have checked on kibana by sorting the hits based on time stamp ,where i got positive result .
In this case i dont know where i have done mistake ... So i am in need of help .Any solution or knowledge is welcome.

Passed config:
[code]
Error logs:

[code]

[2022-05-10 07:39] dahal4 commented on #49
hi there ,i am facing same problem .Did anyone find the solution?

[2022-07-04 06:33] fadlymutil opened #72 "using filter.whitelist for nested value"
Hi There,

i am having problem when using configuration filters.whitelist for nested value,

my json document value part ;

    "resPayload": [
      "{ \"timestamp\":1611882445, \"status\":200, \"errors\":{ \"identity_photo\":\"invalid\" }, \"data\":{ \"name\":true, \"birthdate\":true, \"birthplace\":true, \"address\":\"M*MP*NG\",\"selfie_photo\":80}}"
    ]

when i use this configuration, i got

[2022-07-17 16:32] DarioBalinzo commented on #72
Hi,
The problem is that resPayload is not a nested json document, but it is an array of strings.

For this reason, you cannot get resPayload.status

Dario

[2022-08-02 20:00] gibbonkl opened #73 "adds an ip address to my host url"
I've got an error because apparently it's changing my url.
I set a port and host but in the command line it gives me this:

java.net.ConnectException: Timeout connecting to [<es.host>**/<ip_address>**:<es.port>]

Could you please help me?

[2022-08-03 14:44] #73 closed

[2022-08-18 20:29] lucasenabit opened #74 "org.apache.kafka.connect.errors.DataException: Invalid Java object for schema with type FLOAT64: class java.lang.Long for field:"
please, I had a problem with this field. In my ES i have a scheme with long field, but i have too others fields with same type, but this problem happen just that field.

Exemple mapping ES:

 },
            "redirectEnd" : {
              "type" : "long"
            },
            "redirectStart" : {
              "type" : "long"
            },
            "requestStart" : {
              "type" :

[2022-08-19 10:48] SarindraTherese opened #75 "source connector elasticsearch failed"
Hey, I have some error in log when i try to use elasticsearch source connector

[code]
this link https://localhost:9200/_cat/indices?v return
[code]
And this is my properties connector:

[code]
As we see, text index is already exist, so what's wrong with my approach?

[2022-08-19 12:14] DarioBalinzo commented on #74
Hi, thanks for reporting this.

The connector guess the schema looking at the values in the json, and this problem is caused by a field that contains both number with and without digits.

I will schedule a fix for this, since the connector might use the es schema as source of truth for decide data types, instead of just looking the values of the data.

[2022-08-19 12:14] DarioBalinzo commented on #75
Hi, thanks for reporting this.

Can you share the full stacktrace below
`2022-08-19 11:53:46,180] ERROR [elastic-source|worker] Error while trying to get updated topics list, ignoring and waiting for next table poll interval (com.github.dariobalinzo.elastic.ElasticIndexMonitorThread:92)` ?

[2022-08-19 12:19] SarindraTherese commented on #75
Yes!

[code]

[2022-08-19 15:03] SarindraTherese commented on #75
And this is in above

[code]

[2022-08-19 17:11] lucasenabit commented on #74
Hi Dario, tks for answer.

so, at the moment in this case, would not have an alternative to this problem?

[2022-08-20 08:54] DarioBalinzo commented on #75
`Cannot find any elasticsearch index` maybe the index was created too late (i.e. the connector was already running)?

can you please try to destroy and recreate it?

Also, `ConnectionClosedException: Connection is closed` seems to be a network issue

[2022-08-20 08:56] DarioBalinzo commented on #74
As workaround, try one of the following:
-  try to use the json serializer (not avro)
- index data with a .0 decimal digits, also if they are integers
- blacklist the field in order to avoid the error

[2022-08-22 08:10] SarindraTherese commented on #75
Maybe the problem is the https of elasticsearch,
because I've already try to connect elasticsearch in python but this return error access ssl,
so I'm going to fix ssl access about elasticsearch today,
therefor if you have some link that helped so i'm interested
thanks

[2022-08-22 10:42] SarindraTherese commented on #75
Indeed, it is because of the url https, so I turn `false` some value in file elasticsearch.yml and the status change to `running` :
[code]
Thanks

[2022-09-14 20:20] jag959 commented on #70
I am running into similar issue (not sure if user error on my side.)

Config:

  "name": "ElasticSource_RPA",
  "config": {
    "name": "ElasticSource_RPA",
    "connector.class": "com.github.dariobalinzo.ElasticSourceConnector",
    "errors.log.enable": "true",
    "errors.log.include.messages": "true",
    "es.host": "REDACTED",
    "es.port": "9200",
    "index.names": "finance-invoices",
    "

[2022-09-19 07:29] dahal4 commented on #70
Hi there i don't know why you are using this for but in my case i used it to migrate from old ES to new ES ....But i  was unaware of elastic search feature of re-indexing which helped in migrating from one es to another easily...Can you tell me why you need this connector?

[2022-09-19 09:30] jag959 commented on #70
I am trying to read data from ES as part of an integration allowing non-ES users to ingest data from ES using Kafka. I actually got it working now on my side this is is no longer an open issue for me.

[2022-09-19 11:37] dahal4 commented on #70
can you share how you managed to solve this issue

[2022-09-19 13:45] satishcb opened #76 "Security"
Any solutions/suggestions in how we can avoid the plaintext password in the json files?

[2022-09-19 13:59] DarioBalinzo commented on #70
I think that probably you need an incrementing field which support sorting, so you need to configure it if this is not the case (e.g. you need that field to be indexed)

[2022-09-19 14:06] satishcb commented on #76
Thanks for quick response. Will checkout the links provided. Just want to confirm that I was referring to the es.user and es.password fields.

[2022-09-19 17:18] jag959 commented on #70
Ues, I added a timestamp field to the index that is automatically updated with each new indexed document using a pipeline in ES.  My config for this connector which is working for me appears below...

[2022-09-19 17:38] liz72703 commented on #52
Hi there,

Is there another means of doing this?

I need to send multiple indexes to **one fixed topic name** but the connector seems to be completely ignoring the regex configuration entries.

Thanks,
Liz

[2022-09-20 15:01] SarindraTherese opened #77 "ERROR [elastic-source|task-0] error (com.github.dariobalinzo.task.ElasticSourceTask:217)"
Hey Dario!
I finally managed to successfully run elasticsearch source connector witch apache kafka.
[code]
However, when I run the elasticsearch-source.properties as distributed:
[code]
I have some error like this:
[code]
and this:

[code]
All list topics are:
[code]
Normally in your tutorial  all the indices products* are sent to Kafka using the es_ string as a topic prefix.
So my question am I d

[2022-09-20 15:08] consulthys commented on #77
Duplicate of https://github.com/DarioBalinzo/kafka-connect-elasticsearch-source/issues/70

[2022-09-25 16:02] DarioBalinzo commented on #77
Thanks for the explanation!

I think the schema of the index must be created before that the connector is running. Otherwise some fields does not exist yet and elastic cannot sort on an unknown field.

[2022-09-25 16:06] DarioBalinzo commented on #70
As discussed in #77 try first to create the index with the schema mapping and some date. Then after start the connector.
In the future I will try to implement a better error handling to silently ignore the missing index schema mapping until data is not yet ready. Right now however this workaround should fix the issue.

[2022-09-26 03:13] fadlymutil commented on #72
Hi Dario,

is it still possible to filter resPayload ? can you share how to do it?
for now i get all the value of resPayload, and cost large size of messages transfered to kafka,
it will be great if i can take out the field i dont needed which has large size (images)

thanks.

[2022-09-26 04:25] dahal4 commented on #70
i think this connector is only valid for timestamp data ...what if i don't have timestamp in my data ...which we can find commonly in old types to data .Is there any way for those type of data ???

[2022-09-28 01:17] eaudet opened #78 "The connector starts but fails to connect to OpenSearch nodes"
I POST the following json configuration:
[code]

The connector starts but fails to connect to OpenSearch nodes
[code]

[2022-10-05 16:13] Protocol-X commented on #76
You can use any of the providers with newer versions of kafka to avoid plain text. https://docs.confluent.io/platform/current/connect/userguide.html#configprovider-interface

[2022-10-08 12:17] DarioBalinzo opened #80 "Update dependencies"

[2022-10-11 08:30] #77 closed

[2022-10-11 10:27] SarindraTherese opened #82 "How to disable schema Avro?"
When I read topic after use your elasticsearch source connector, I have value like this:
[code]
My question is can I configure the format to json in file json properties?
thanks

[2022-10-16 18:28] DarioBalinzo commented on #82
Hi,
you can use this settings that works on all connectors (not just this one):

In particular you can set
key.converter to org.apache.kafka.connect.json.JsonConverter as explained here: https://www.confluent.io/blog/kafka-connect-deep-dive-converters-serialization-explained/

[2022-10-29 07:21] heimohe opened #83 "Caused by: org.apache.http.ContentTooLongException: entity content is too long [107962506] for the configured buffer limit [104857600]"
i meet this problem, but i don’t know how to modify this param... i  am using 1.3 verison

[2022-11-01 18:57] DarioBalinzo commented on #83
Hi, thanks for reporting this.

Are you able to share the full stack trace below the error?

Dario

[2022-11-03 08:43] heimohe commented on #83
the error info full stack is :

2022-11-03 08:43:05,026 ERROR error (com.github.dariobalinzo.task.ElasticSourceTask) [task-thread-elastic-index002-0]
java.io.IOException: entity content is too long [107962506] for the configured buffer limit [104857600]
        at org.elasticsearch.client.RestClient.extractAndWrapCause(RestClient.java:885)
        at org.elasticsearch.client.RestClient.performRequ

[2022-11-03 08:44] heimohe commented on #83
the error info full stack is ：
`2022-11-03 08:43:05,026 ERROR error (com.github.dariobalinzo.task.ElasticSourceTask) [task-thread-elastic-index002-0]
java.io.IOException: entity content is too long [107962506] for the configured buffer limit [104857600]
        at org.elasticsearch.client.RestClient.extractAndWrapCause(RestClient.java:885)
        at org.elasticsearch.client.RestClient.performRequ

[2022-11-11 03:18] heimohe commented on #83
@DarioBalinzo hi , you know how to resolve this problem.

[2022-11-11 03:19] heimohe commented on #83
@DarioBalinzo hi , you know how to resolve this problem. i have changed  <artifactId>elasticsearch-rest-client</artifactId> and  <artifactId>elasticsearch-rest-high-level-client</artifactId> to different version

[2022-11-14 12:13] prabaldeshar opened #84 "How to use queries to poll only certain documents into the Kafka Topic?"
Dear @DarioBalinzo ,
I found this while trying to setup our own Database pipeline using Kafka Connectors. Thank you for this!
However, we want to add only certain values into our Kafka topics using some sort of queries. How do I configure this?
Thanks in advance!

[2022-11-19 10:13] DarioBalinzo commented on #84
Hi @prabaldeshar,
thanks for the interest.

This is not supported yet, it is not possible to filter documents. I will try to implement it during the next months, but consider that the support to this project is only as a volunteer.

As workaround in meantime you can publish to an intermediate topics all documents, and then use KSQL to filter them on the final topic.

Dario

[2022-11-19 10:14] DarioBalinzo commented on #84
same as #45

[2022-11-21 04:34] prabaldeshar commented on #84
Thank you  for your response @DarioBalinzo.

[2022-11-21 08:31] heimohe commented on #83
i have resolve this problem by modifying source code....

[2022-11-22 04:42] srinivasagank opened #85 "Now that ElasticSourceConnector is working, how to consume messages using Java from Kafka Topic?"
I configured ElasticSourceConnector successfully, and it is working.
Now I want to consume messages that comes to Kafka Topic using Java code.
Do I have to use JSON serializer/deserializer, or how do I receive Java object?
I am using my_awesome_index as index prefix.
Kindly share the Java code example.
Thanks
Srinivasagan

[2022-11-22 05:04] srinivasagank commented on #85
In my Spring Boot Application...

[2022-11-22 05:13] srinivasagank commented on #85
POST /my_awesome_index/_doc
{
  "greeting":"Hello",
  "receiver":"World",
  "@timestamp": "2022-02-02T16:38:53.0870292"

}

[2022-11-22 06:35] srinivasagank commented on #85
name=es-source
connector.class=com.github.dariobalinzo.ElasticSourceConnector
tasks.max=1
es.host=localhost
es.port=9200
index.prefix=my_awesome_index
topic.prefix=es_
incrementing.field.name=@timestamp